body {
    position: relative;
}

.jumbotron {
    position: relative;
    height: 600px;
    background-image: url('https://unsplash.it/700/600?image=961');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#introduction {
    color: white;
    line-height: 500px;
    text-align: center;
}

article section:nth-child(even) {
    background-image: url('../img/white-stripe-repeat-bg.jpg');
}

ul li a {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

#hobby h2 {
    text-align: center;
}

#hobby .photo {
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
}

#slideshow item {
    height: 320px;
    background-color: none;
}

#experience {
    padding: 40px 0 40px 0;
}

.company,
.job-title {
    text-transform: capitalize;
}

#skill {
    padding: 40px 0 40px 0;
}

.license-photo {
    width: 200px;
}

#MCSE {
    height: 100px;
    margin-top: 10px;
    background-image: url('../img/mcse.gif');
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

#RHCE {
    height: 100px;
    background-image: url('../img/RHCE.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.programming {
    text-transform: uppercase;
}

.programming li {
    list-style: none;
    text-align: center;
}

#license {
    padding: 40px 0 40px 0;
}

#hobby {
    padding: 40px 0 40px 0;
}

#hobby .container-fluid {
    height: 500px;
}

#dhs {
    background-image: url('../img/dhs.gif');
}

#mastermulti {
    background-image: url('../img/mastermulti.jpg');
}

#powerplay {
    background-image: url('../img/powerplay.jpg')
}

#sword {
    background-image: url('../img/sword.jpg');
}

article h1,
footer h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 2px
}

footer .container-fluid {
    height: 600px;
}

footer li {
    text-align: center;
    list-style: none;
    font-size: 20px;
}

#contact {
    padding: 40px 0 40px 0;
}

#scrollTopBtn {
    width: 70px;
    height: 70px;
    background-color: #2462aa;
    text-align: center;
    line-height: 70px;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 35px;
    right: 35px;
    display: none;
}

#scrollTopBtn.scroll {
    display: block;
}

#scrollTopBtn:hover,
#scrollTopBtn:focus {
    text-decoration: none;
    outline: none;
}
